
<section> 
<h1> Hello there, I am Bricen </h1>

<div class="container py-4">
  <p class="fs-5 mb-4">
    I want to be a software developer because I enjoy programming. It is an interesting field that is so broad. For now, I have been trying to learn Ruby on Rails and Bootstrap for this website.
  </p>

  <p class="fs-5 mb-4">
    I just graduated from Austin Peay State University with a degree in Computer Science, where I got experience in full stack and system-level projects through coursework. The biggest projects I worked on were:
  </p>

  <ul class="fs-5 ms-3">
    <li class="mb-2">
      <strong>Requiem Registry</strong> – a website to keep track of and inform people about local cemeteries and the individuals buried there.
    </li>
    <li>
      <strong>Govs Outdoors Mock Website</strong> – a simple e-commerce style website for the campus outdoor program I worked with.
    </li>
  </ul>
</div>

</section>

<section>
	<h1> Classes </h1>

	<% if @courses.present? %>
  <div class="container mt-4">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      <% @courses.each do |course| %>
        <%= render 'courses/course', course: course %>
      <% end %>
    </div>
  </div>
<% end %>

</section>


<section> 
	<h1> Contact </h1>

	linked in lnk 

	</section>